
h1{
    text-align: center;
}
 .container {
    
  
   display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
 }
 .button{
    height: 150px;
    width:150px;
    border: 1px solid black;
   
   
 }
#grey{
  background-color: gray;
}
#black{
    background-color: black;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}